*.DS_Store
/__pycache__
.config/dask/labextension.yaml
.bash_history
.bashrc
.ipython/profile_default/*
.jupyter/*
.local/*
.python_history
*.pyc
camera_calibration/__pycache__/model_camera_coverage_utils.cpython-312.pyc
